body {
    background-color: #212529;
    /* width: auto;
    height: 200vh; */
/*     background-image:url(nighthawks.jpg);
    background-repeat:no-repeat;
    background-size:cover; */
    /* overflow: hidden; */
}
.siteText {
    font-family: Helvetica, sans-serif;
}

.siteTextBlue {
    color: #40AEF2;
}

.siteTextWhite {
    color:seashell;
}

#learnMore {
    font-weight: bold;
}

#nameLogoSize {
    font-size: 48px;
    font-weight: bold;
}

#logoDot {
    position: absolute;
    bottom: 0;
    color: #40AEF2
}

.menuSize {
    font-size: 24px;
    font-weight: bold;
}

.iconNavColor {
    color:seashell;
}

#namePeriod {
    font-size: 48px;
    color: #40AEF2;
    position: absolute;
    bottom: 0;
}

#cursor {
    font-size: 30px;
    color: white;
  }

#welcome {
    color: white;
    text-align: center;
}

#backimagewrap {
    overflow: hidden;
    position: relative;
}
  
#backimage {
    z-index: -1;
    opacity: .4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.fullscreen {
    display: flex;
    width: 90vw;
    height: 90vh;
    align-items: center;
}

/* #slide {
    height: inherit;
    opacity: 0;
    transform: translate3d(-10vw, 0, 0);
    transition: 0.5s all ease-in-out;
    
}

#slide.fade {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

#slide img {`
    width: inherit;
} */

#headshot1 {
    border-radius: 10%;
    width: 60%;
    height: auto;
}

#headshot2 {
    border-radius: 10%;
    width: inherit;
    height: auto;
}